@import "nib"
@import "jumperskirt/includes/colours"
@import "jumperskirt/includes/settings"
@import "jumperskirt/includes/reset"
@import "jumperskirt/typography"
@import "jumperskirt/text-input"

* {
    box-sizing: border-box
}
*:focus {
    outline: none
}

#app {
    margin: 50px
}