@import "nib"
@import "jumperskirt/includes/colours"
@import "jumperskirt/text-input"

global-reset()

* {
    box-sizing: border-box
}
*:focus {
    outline: none
}
body {
    background: base-colour
    color: base-text-colour
    font-family: text-font
}

#app {
    margin: 50px
}