//----------------------------------------------------------------------
//
// This source file is part of the JumperSkirt project.
//
// Copyright (C) 2014-2016 Quildreen Motta.
// Licensed under the MIT licence.
//
// See LICENCE for licence information.
// See CONTRIBUTORS for the list of contributors to the project.
//
//----------------------------------------------------------------------

// # module: jumperskirt/field
//
// Common styles for fields


.jsk-field {
    margin-bottom: 1em

    .jsk-field-label {
        display: block;
        font-size: 0.8em
        text-transform: uppercase
        font-weight: 600;
        color: jsk-input-label-colour
        margin-bottom: 5px
    }

    .jsk-field-description {
        margin-top: 5px
        color: jsk-input-description-colour
    }

    .jsk-field-validation-failure {
        margin-top: 5px
        color: jsk-input-error-colour;
    }
}