// Copyright (c) 2014 Quildreen Motta <quildreen@gmail.com>
//
// Permission is hereby granted, free of charge, to any person
// obtaining a copy of this software and associated documentation files
// (the "Software"), to deal in the Software without restriction,
// including without limitation the rights to use, copy, modify, merge,
// publish, distribute, sublicense, and/or sell copies of the Software,
// and to permit persons to whom the Software is furnished to do so,
// subject to the following conditions:
//
// The above copyright notice and this permission notice shall be
// included in all copies or substantial portions of the Software.
//
// THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,
// EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF
// MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
// NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE
// LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION
// OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION
// WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.

/**
 * Default settings for JumperSkirt.
 */

@import "./colours"

// -- Text -------------------------------------------------------------

/**
 * Font used for the body of the page.
 */
jsk-text-font = "Source Sans Pro", sans-serif

/**
 * Font used for headings.
 */
jsk-heading-font = "Raleway", sans-serif

/**
 * Base line height for the text.
 */
jsk-base-line-height = 1.4em

/**
 * Base font size.
 */
jsk-base-font-size = 100%


// -- Base colours -----------------------------------------------------

/**
 * Colour used for the base of the page, including background.
 */
jsk-base-colour = #fafafa

/**
 * Colour used for the text in the page.
 */
jsk-base-text-colour = #424242

/**
 * Colour used for heading elements.
 */
jsk-base-heading-colour = asbestos

/**
 * Colour used for complimentary text and other elements that should be in less
 * evidence
 */
jsk-base-faded-colour = concrete

/**
 * Primary colour for the page (buttons, actionable elements, etc).
 */
jsk-primary-colour = belize-hole

/**
 * Accent colour to complement the primary one.
 */
jsk-primary-accent-colour = petermann


// -- Default component colours ----------------------------------------

/**
 * Colour of text in inputs.
 */
jsk-input-text-colour = jsk-base-text-colour

/**
 * Colour of placeholders in inputs.
 */
jsk-input-placeholder-colour = jsk-base-faded-colour

/**
 * Colour of labels in inputs.
 */
jsk-input-label-colour = jsk-base-faded-colour

/**
 * Colour of borders in inputs.
 */
jsk-input-border-colour = silver

/**
 * Colour of additional description in inputs.
 */
jsk-input-description-colour = asbestos

/**
 * Colour to use for accent when the input is focused.
 */
jsk-input-focus-colour = petermann

/**
 * Colour to use for accent when the input is in an error state.
 */
jsk-input-error-colour = alizarin



// -- Grid -------------------------------------------------------------
/**
 * The size of the basic unit in the grid (a module). Gutter and column
 * sizes are derived from this unit.
 */
jsk-grid-module-width = 60px

/**
 * The spacing between each column in a grid.
 */
jsk-grid-gutter = 20px

/**
 * The total number of columns in the grid.
 */
jsk-grid-columns = 12

/**
 * The maximum size of the grid. If a percentage, the grid will be
 * automatically fluid.
 */
jsk-grid-width = jsk-grid--size(jsk-grid-columns)

/**
 * The minimum width of the grid.
 */
jsk-grid-min-width = 960px
